@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

:root {

}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

body, html {
	min-height: 100%;
	width: 100%;
}

body {
	background: #fdead8;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

/* Main Styles */

h1 {
	text-align: center;
	padding: 40px 0;
	font-family: 'Luckiest Guy', cursive;
	font-size: 40px;
	position: relative;
	width: 800px;
	margin: 0 auto;
	color: #d1880a;
}

h1:after {
	content: "Checkers made with float";
	position: absolute;
	left:141px;
	bottom:43px;
	color: #d1880a;
	text-shadow: 1px 1px 2px black, 0 0 7px #a76d08;
}

.container-for-board {

}

.board-edge {
	margin: 0 auto;
	width: 1100px;
	height: 1100px;
	padding: 50px;
    background-image: radial-gradient(ellipse at center, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .5);
}

.board {
	height: 100%;
}

.cell-row {
	overflow: hidden;
}


.coord {
	background: red;
	float:left;
	height: 100px;
	width: 100px;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f1c28c;
	color: #654313;
}

.cell {
	height: 100px;
	width: 100px;
	float:left;
}


.odd .cell:nth-child(2n) {
	background: #000;
}

.odd .cell:nth-child(2n+1) {
	background: #fff;
}

.even .cell:nth-child(2n+1) {
	background: #000;
}

.even .cell:nth-child(2n) {
	background: #fff;
}


.even.black .cell:nth-child(2n+1)::after {
	margin: 14px 0 0 14px;
	content:'';
	position: absolute;
	width: 40px;
	height: 40px;
	background: #808282;
	border-radius: 50%;
	border: 15px solid #595c5c;
	box-shadow: inset 0px 2px 10px 2px rgba(0, 0, 0, .5);
}


.even.black .cell:nth-child(2n+1)::before {
	margin: 5px 0 0 5px;
	content:'';
	position: absolute;
	width: 90px;
	height: 90px;
	background: #353939;
	border-radius: 50%;
}

.odd.black .cell:nth-child(2n)::after {
	margin: 14px 0 0 14px;
	content:'';
	position: absolute;
	width: 40px;
	height: 40px;
	background: #808282;
	border-radius: 50%;
	border: 15px solid #595c5c;
	box-shadow: inset 0px 2px 10px 2px rgba(0, 0, 0, .5);
}


.odd.black .cell:nth-child(2n)::before {
	margin: 5px 0 0 5px;
	content:'';
	position: absolute;
	width: 90px;
	height: 90px;
	background: #353939;
	border-radius: 50%;
}


.even.white .cell:nth-child(2n+1)::after {
	margin: 14px 0 0 14px;
	content:'';
	position: absolute;
	width: 40px;
	height: 40px;
	background: #808282;
	border-radius: 50%;
	border: 15px solid #595c5c;
	box-shadow: inset 0px 2px 10px 2px rgba(0, 0, 0, .5);
}

.even.white .cell:nth-child(2n+1)::before {
	margin: 5px 0 0 5px;
	content:'';
	position: absolute;
	width: 90px;
	height: 90px;
	background: #353939;
	border-radius: 50%;
}

.odd.white .cell:nth-child(2n)::after {
	margin: 14px 0 0 14px;
	content:'';
	position: absolute;
	width: 40px;
	height: 40px;
	background: #808282;
	border-radius: 50%;
	border: 15px solid #595c5c;
	box-shadow: inset 0px 2px 10px 2px rgba(0, 0, 0, .5);
}

.odd.white .cell:nth-child(2n)::before {
	margin: 5px 0 0 5px;
	content:'';
	position: absolute;
	width: 90px;
	height: 90px;
	background: #353939;
	border-radius: 50%;
}

